name: Android CI

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Unit tests
        run: ./gradlew test --stacktrace

      - name: Build debug
        run: ./gradlew :app:assembleDebug --stacktrace

      - name: Ktlint
        run: ./gradlew ktlintCheck --stacktrace

      - name: Detekt
        run: ./gradlew detekt --stacktrace